.header {
  background: #4ef2eb;
  height: 15rem;
  display: flex;
  align-items: center;
}

.header h1 {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: center;
  color: black;
  font-size: 3rem;
}
