a:link {
  color: black;
}
a:visited {
  color: black;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 5px inset #456990;
}

.navbar {
  background-color: #4ef2eb;
  display: flex;
  justify-content: flex-start;
  min-width: 100rem;
  padding: 0.25rem 1rem;
  z-index: 1;
  position: fixed;
}
