.hamburger-react {
  z-index: 2;
}

.burgerMenu {
  animation: slideInLeft 0.3s forwards;
  font-weight: 400;
  border-radius: 0px 8px 8px 0px;
  background: rgba(71, 85, 105, 0.6);
  padding: 3em;
  position: absolute;
  z-index: 1;

  // .navBurgerWrapper {
  //   padding-top: 5vh;
  // }

  .navBurger {
    color: #fff;
    font-size: 22px;
    display: block;
    line-height: 64px;
    height: 64px;
    position: relative;
    text-align: center;
    text-decoration: none;
    margin: 20px 0px;
    padding: 0em 3em;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px lightgrey;
    background-color: #475569;
  }

  .svgLink {
    padding: 15px;
    margin-right: 10px;
    background: rgb(71, 85, 105);
    box-shadow: 0px 0px 8px 0px lightgrey;
    text-align: center;
    font-size: 22px;
    line-height: 16px;
    border-radius: 8px;
  }
  li {
    margin-top: 20px;
  }
}

.burgerList {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
