.container .projects-page {
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}

.img-wrapper > img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.img-wrapper > .content {
  position: absolute;
  inset: 0;
  font-size: 2rem;
  color: black;
  font-weight: 600;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms ease-in-out;
  .fade {
    opacity: 0;
    &:hover {
      opacity: 1;
    }
  }
  // .slide-left {
  //   transform: translateX(-100%);
  //   &:hover {
  //     transform: translateX(0);
  //   }
  // }
  svg {
    border: 3px outset #475569;
    background-color: #456990;

    font-size: 4rem;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    transition: color 500ms;
    &:hover {
      color: black;
    }
  }
  .link {
    left: 12%;
    position: absolute;
    top: 6%;
  }
  .repo {
    right: 12%;
    position: absolute;
    top: 6%;
  }
}

.img-wrapper:hover > img.blur.zoom {
  filter: blur(5px);
  transform: scale(1.1);
}

.img-wrapper:hover > .content.slide-left {
  transform: translateX(0);
}

.img-wrapper > .content.slide-left {
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
}

// .slider {
//   height: 400px;
//   margin: auto;
// }

.project-text-zone {
  display: flex;
  width: 30vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0%;
}

.grid-zone {
  width: 100vw;
  height: 70vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

// .carousel-zone {
//   width: 100vw;
//   height: 70vh;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   margin-bottom: 20px;
//   .slider {
//     width: 95vw;
//   }
//   .slick-list {
//     padding: 0px;
//     height: 60vh !important;
//   }
// }

// .slide-wrapper {
//   border-radius: 8px;
//   height: 20rem;
//   margin: 0 auto;
//   background-size: cover;
//   background-position: top;
//   max-width: 80%;
// }

// .slide {
//   transform: scale(0.8);
//   transition: transform 500ms;
//   opacity: 0.5;

//   .slide-wrapper svg {
//     border: 3px outset #475569;
//     background-color: #456990;

//     font-size: 4rem;
//     padding: 5px;
//     margin: 5px;
//     cursor: pointer;
//     transition: color 500ms;
//     &:hover {
//       color: black;
//     }
//   }
//   .link {
//     left: 12%;
//     position: absolute;
//     top: 6%;
//   }
//   .repo {
//     right: 12%;
//     position: absolute;
//     top: 6%;
//   }
// }

// .activeSlide {
//   transform: scale(1);
//   opacity: 1;
//   .slide-wrapper {
//     border: 1px solid lightgrey;
//     box-shadow: 0px 0px 20px 0px lightgrey;
//   }
// }

// .arrow {
//   position: absolute;
//   cursor: pointer;
//   z-index: 10;
//   font-size: 36px;
// }

// .arrow svg {
//   transition: color 500ms;
//   color: #4ef2eb;
//   &:hover {
//     color: #475569;
//   }
// }

// .next {
//   right: 0%;
//   top: 50%;
// }

// .prev {
//   left: 0%;
//   top: 50%;
// }
