.slider {
  height: 400px;
  margin: auto;
}

.project-text-zone {
  display: flex;
  width: 30vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0%;
}

.carousel-zone {
  width: 100vw;
  height: 70vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //   border: 1px solid white;
  margin-bottom: 20px;
  .slider {
    width: 95vw;
    // border: 2px solid yellow;
  }
  .slick-list {
    padding: 0px;
    height: 60vh !important;
  }
}

.slide img {
  width: 30rem;
  margin: 0 auto;
}

.slide {
  transform: scale(0.8);
  transition: transform 500ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1);
  opacity: 1;
  img {
    border: 1px solid lightgrey;
    box-shadow: 0px 0px 20px 0px lightgrey;
  }
}

.arrow {
  //   background-color: white;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  font-size: 36px;
}

.arrow svg {
  transition: color 500ms;
  color: #4ef2eb;
  &:hover {
    color: #475569;
  }
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}
